{% extends 'base.html' %}
{% load static %}
{% block title %}Admin{% endblock %}


{% block body %}
{% load static %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div class="row mt-4" style=" margin-left: 120px;">
        <div class="col-lg-12 mb-lg-0 mb-4">
         <marquee><h2 style="color: white">Student Section..</h2></marquee>
          <div class="card " style="background-image: url(' {% static 'images/moon.png' %}'); background-repeat: no-repeat; background-size: cover;">

            <div class="card-header pb-0 p-3">
               <h5 align="center" style="color: white;">PROGRAMMING</h5>
            </div>
              <div class="table-responsive">
              <table  class="table table-dark table-hover ">
                <tr>
                  <th style="color:  red;">No.</th>
                  <th style="color:  #33CCCC;">First Name</th>
                  <th style="color:  #33CCCC;">Last Name</th>
                  <th style="color:  #33CCCC;">Email id</th>
                  <th style="color:  #33CCCC;">Number</th>
                    <th style="color:  #33CCCC;">DOB</th>
                    <th style="color:  #33CCCC;">Gender</th>
                    <th style="color:  #33CCCC;">User No.</th>
                    <th style="color:  #33CCCC;">Course Name</th>
                    <th style="text-align: center; color: #33CCCC" colspan="3">Action</th>
                </tr>
                {% for u in std %}
                <tr>
                  <td style="color: #FF0099;">{{u.sid}}</td>
                  <td>{{u.fname}}</td>
                  <td>{{u.lname}}</td>
                  <td>{{u.Email}}</td>
                  <td >{{u.Number}}</td>
                    <td>{{u.dob}}</td>
                    <td>{{u.Gender}}</td>
                    <td>{{u.userno}}</td>
                    <td>{{u.course}}</td>
                    <td><a href="editstd/{{u.sid}}"><i class="fa-solid fa-user-pen"></i></a> | <a href="delete_std/{{u.sid}}"><i class="fa-solid fa-trash"></i></a> | <a href="viewstd/{{u.sid}}"><i class="fa-solid fa-eye"></i></a></td>
                </tr>
                {% endfor %}
              </table>
            </div>

          </div>
        </div>
        </div>





{% endblock %}