<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/admin45.png' %}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/`bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin> </script>

    <script src="https://kit.fontawesome.com/696ec47019.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <link rel="stylesheet" href="{% static 'css/toggle.css' %}" >
        <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<style>
    .hero-section {
      background-size: cover;
      background-position: center;
      color: white;

    }

    .portfolio-item {
      margin-bottom: 30px;
    }

    .portfolio-item img {
      max-width: 100%;
      height: auto;
    }

    .nav-item a {
    text-decoration: none;
    }
    .nav-item {
    margin-left: 15px;
    }
</style>

<body bgcolor="{{color}}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
       <a class="navbar-brand" href="#" style="color: white;"> ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

<!--            <h6 style="margin-top: 10px; color: red;">Dark Mode</h6>-->
<!--                <label class="switch" >-->
<!--                    <input type="checkbox">-->
<!--                 <span class="slider round"></span>-->
<!--                </label>-->
              <style>

        img{
            height:140px;
                width:140px;
        }
        h1{
        color: #32a852;
        }
        .mode {
            float:right;
            margin-top: 9px;
        }
        .change {
            cursor: pointer;
            border: 1px solid #555;
            border-radius: 40%;
            width: 20px;
            text-align: center;
            padding: 5px;
            margin-left: 8px;
        }
        .dark{
            background-color: #000000;
            color: #555555;
        }
    </style>






                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="student">student</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="pro">Product</a>
                </li>
                <li class="nav-item">
                <a class="nav-link btn btn-primary" href="course">Course Details </a>
              </li>

                    <li class="mode" style="margin-left: 150px; color: white;">
                        Dark mode:
                        <span class="change">OFF</span>
                    </li>

    <script>
    $(document).ready(function() {
        var darkMode = localStorage.getItem('darkMode');
        if (darkMode === 'on') {
            $('body').addClass('dark');
            $('.change').text('ON');
        }
    });

    $(".change").on("click", function() {
        if ($("body").hasClass("dark")) {
            $("body").removeClass("dark");
            $(".change").text("OFF");
            localStorage.setItem('darkMode', 'off'); // Store preference
        } else {
            $("body").addClass("dark");
            $(".change").text("ON");
            localStorage.setItem('darkMode', 'on'); // Store preference
        }
    });
</script>
<!--               <li class="nav-item">-->
<!--                    <a class="nav-link btn btn-primary" href="register">Register</a>-->
<!--                </li>-->
<!--                 <li class="nav-item" style="margin-left: 15px;">-->
<!--                    <a class="nav-link btn btn-danger" href="Login">Login</a>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</nav>

    <div class='dashboard'>
    <div class="dashboard-nav">
        <header><a class="brand-logo"><span>ADMIN</span></a></header>
        <nav class="dashboard-nav-list"><a href="Admm" class="dashboard-nav-item {% if 'Admm' in request.path %}active{% endif %}"><i class="fas fa-home"></i>
            Home </a><a
                href="/App1/ad_edit" class="dashboard-nav-item {% if 'ad_edit' in request.path %}active{% endif %}"><i class="fas fa-tachometer-alt"></i> Edit
        </a><a
                href="/App1/ad_alluser" class="dashboard-nav-item {% if 'ad_alluser' in request.path %}active{% endif %}"><i class="fas fa-file-upload"></i> Forms </a>

            <a
                href="/App1/rev" class="dashboard-nav-item {% if 'rev' in request.path %}active{% endif %}"><i class="fa-solid fa-chart-simple"></i> Revenue </a>

             <a
                href="/App1/product_admin" class="dashboard-nav-item {% if 'rev' in request.path %}active{% endif %}"><i class="fa-solid fa-chart-simple"></i> products </a>


<!--            <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i-->
<!--                    class="fas fa-photo-video"></i> Media </a>-->
<!--                <div class='dashboard-nav-dropdown-menu'><a href="#"-->
<!--                                                            class="dashboard-nav-dropdown-item">All</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item">Recent</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item">Images</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item">Video</a></div>-->
<!--            </div>-->
<!--            <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i-->
<!--                    class="fas fa-users"></i> Users </a>-->
<!--                <div class='dashboard-nav-dropdown-menu'><a href="#"-->
<!--                                                            class="dashboard-nav-dropdown-item">All</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item">Subscribed</a><a-->
<!--                        href="#"-->
<!--                        class="dashboard-nav-dropdown-item">Non-subscribed</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item">Banned</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item">New</a></div>-->
<!--            </div>-->
<!--            <div class='dashboard-nav-dropdown'><a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i-->
<!--                    class="fas fa-money-check-alt"></i> Payments </a>-->
<!--                <div class='dashboard-nav-dropdown-menu'><a href="#"-->
<!--                                                            class="dashboard-nav-dropdown-item">All</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item">Recent</a><a-->
<!--                        href="#" class="dashboard-nav-dropdown-item"> Projections</a>-->
<!--                </div>-->
<!--            </div>-->
            <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a><a
                    href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
          <div class="nav-item-divider"></div>
          <a
                    href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i>user name   </a>
        </nav>
    </div>
    <div class='dashboard-app'>

        <div class='dashboard-content'>
            <div class='container'>
                {% block body %} {% endblock %}
            </div>
        </div>
    </div>

</div>
</body>
</html>