body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
background: #f857a6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
button {
  padding: 20px 80px;
  border: 0;
  border-radius: 5px;
  background: blue;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow:0px 10px 10px -10px blue;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.bar {
  background-color: rgb(164, 164, 252);
  min-width: 100%;
  min-height: 5px;
  position: relative;
  overflow: hidden;
}
.bar::after {
  content: "";
  min-height: 5px;
  position: absolute;
  background: #fff;
  transform: translateX(-100%);
  animation: animate 2s infinite;
}
.bar::before {
  content: "";
  min-height: 5px;
  position: absolute;
  background: #fff;
  transform: translateX(-100%);
  animation: animate 2s infinite;
  animation-delay: 1s;
}
@keyframes animate {
  0% {
    transform: translateX(-150%);
    min-width: 100px;
  }
  100% {
    transform: translateX(300%);
    min-width: 400px;
  }
}
