<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel = "shortcut icon" type = "image" href = "{% static 'images/tra.png' %}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>
<body>
  <!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title> An About Us Page | PortFolio </title>
  <!---Custom Css File!--->
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/About.css' %}" >
</head>
        {% load static %}
<body>
  <section class="about-us">
    <div class="about">
      <img src="{% static 'images/anni.png' %}"class="pic me-3">
      <div class="text">
        <h2>About Us</h2>
        <h5>Python Developer & <span>Designer</span></h5>
          <p>Crafting a 900-word paragraph about a Python developer requires delving into various aspects of their role, skills, and contributions. Here’s an attempt:

In the world of software development, Python developers stand as architects of innovation and creators of digital solutions that permeate nearly every facet of modern life. Armed with the versatile Python programming language, these developers navigate the intricacies of code to sculpt elegant solutions to complex problems. At the heart of their craft lies a deep understanding of Python's syntax, libraries, and frameworks, allowing them to seamlessly weave together intricate systems and applications. Whether they're crafting web applications, data analysis tools, or machine learning algorithms, Python developers wield their expertise like master artisans, sculpting lines of code into functional works of art.

Beyond mere technical prowess, Python developers possess a keen problem-solving acumen that enables them to tackle challenges with ingenuity and resourcefulness </p>
        <div class="data">
        <a href="contactus" class="hire">Hire Me</a>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
