{% extends 'traning.html' %}
{% load static %}
{% block title %}traning{% endblock %}

{% block body %}
{% load static %}
<div style="background-image: url(' {% static 'images/chart3.png' %}'); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-9">
    <table class="table ps-5 table-bordered table-hover table-success">
  <thead>
    <tr class="ps-5 " style="color: black;">
      <th scope="col" class="ps-5">No</th>
      <th scope="col" class="ps-5">TAG</th>
      <th scope="col" class="ps-5">DESCRIPTION</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="ps-5" style="color: black;">1</th>
      <td class="ps-6">DOCTYPE !</td>
      <td class="ps-5">Defines the document type</td>

    </tr>
    <tr>
      <th scope="row" class="ps-5">2</th>
      <td class="ps-5">A</td>
      <td class="ps-5">Defines a hyperlink</td>

    </tr>
    <tr>
      <th scope="row" class="ps-5">3</th>
      <td class="ps-5">Abbr</td>
      <td class="ps-5">Defines an abbreviation or an acronym</td>

    </tr>
   <tr>
      <th scope="row" class="ps-5">4</th>
      <td class="ps-5 ">acronym</td>
      <td class="ps-5">	Not supported in HTML5. Use Abbr instead.
Defines an acronym</td>

    </tr>
   <tr>
      <th scope="row" class="ps-5" >5</th>
      <td class="ps-5">address</td>
      <td class="ps-5">	Defines contact information for the author/owner of a document</td>

    </tr>
  <tr>
      <th scope="row" class="ps-5">6</th>
      <td class="ps-5">address</td>
      <td class="ps-5">	Defines contact information for the author/owner of a document</td>

    </tr>

        <tr>
      <th scope="row"  class="ps-5">7</th>
      <td class="ps-5">applet</td>
      <td class="ps-5">	Not supported in HTML5. Use embed or object instead.
Defines an embedded applet</td>

    </tr>
         <tr>
      <th scope="row" class="ps-5">8</th>
      <td class="ps-5">area</td>
      <td class="ps-5">	Defines an area inside an image map</td>

    </tr>
         <tr>
      <th scope="row" class="ps-5">9</th>
      <td class="ps-5">body</td>
      <td class="ps-5">	Defines the document's body</td>

    </tr>
  <tr>
      <th scope="row" class="ps-5">10</th>
      <td class="ps-5">br</td>
      <td class="ps-5">Defines a single line break</td>

    </tr>
  <tr>
      <th scope="row" class="ps-5">11</th>
      <td class="ps-5">button</td>
      <td class="ps-5">Defines a clickable button</td>

    </tr>
        <tr>
      <th scope="row" class="ps-5">12</th>
      <td class="ps-5">canvas</td>
      <td class="ps-5">Used to draw graphics, on the fly, via scripting (usually JavaScript)</td>

    </tr>

        <tr>
      <th scope="row" class="ps-5">13</th>
      <td class="ps-5">caption</td>
      <td class="ps-5">Defines a table caption</td>

    </tr>
     <tr>
      <th scope="row" class="ps-5">14</th>
      <td class="ps-5">center</td>
      <td class="ps-5">Not supported in HTML5. Use CSS instead.
Defines centered text</td>

    </tr>
    <tr>
      <th scope="row" class="ps-5">15</th>
      <td class="ps-5">Col</td>
      <td class="ps-5">	Specifies column properties for each column within a colgroup element </td>

    </tr>
    <tr>
      <th scope="row" class="ps-5">16</th>
      <td class="ps-5">del</td>
      <td class="ps-5">Defines text that has been deleted from a document</td>

    </tr>
        <tr>
      <th scope="row" class="ps-5">17</th>
      <td class="ps-5">details</td>
      <td class="ps-5">	Defines additional details that the user can view or hide</td>

    </tr>

        <tr>
      <th scope="row" class="ps-5">18</th>
      <td class="ps-5">div</td>
      <td class="ps-5">Defines a section in a document</td>

    </tr>
        <tr>
      <th scope="row" class="ps-5">19</th>
      <td class="ps-5">embed</td>
      <td class="ps-5">	Defines a container for an external application</td>

    </tr>
        <tr>
      <th scope="row" class="ps-5">20</th>
      <td class="ps-5">footer</td>
      <td class="ps-5">Defines a footer for a document or section</td>

    </tr>
        <tr>
      <th scope="row" class="ps-5">21</th>
      <td class="ps-5">link</td>
      <td class="ps-5">	Defines the relationship between a document and an external resource (most used to link to style sheets) </td>

    </tr>
  <tr>
      <th scope="row" class="ps-5">22</th>
      <td class="ps-5">ol</td>
      <td class="ps-5">Defines an ordered list</td>
    </tr>
        <tr>
      <th scope="row" class="ps-5">23</th>
      <td class="ps-5">pre</td>
      <td class="ps-5">Defines preformatted text</td>
    </tr>
        <tr>
      <th scope="row" class="ps-5">24</th>
      <td class="ps-5">main</td>
      <td class="ps-5">	Specifies the main content of a document</td>
    </tr>

  </tbody>
</table>
    </div>
    </div>
      </div>
    </div>
{% endblock %}